---
// Base without SEO
import '@fontsource-variable/m-plus-1' // Base Font

import { Icon } from 'astro-icon/components'
import { getImage } from 'astro:assets'
import Favicon from '@/assets/S.png'

const favicon = await getImage({ src: Favicon, width: 50, format: 'avif' })
---

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/avif" href={favicon.src} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Page Not Found" />
    <title>Not Found</title>

    <!-- Discord Tags -->
    <meta name="theme-color" content="#000000" />
  </head>
  <body class="scroll-smooth bg-dark text-light">
    <main class="flex min-h-[100svh] w-full flex-col items-center justify-center">
      <div class="flex flex-row items-center gap-x-4">
        <Icon class="mt-1 h-8 w-8 text-[#ff0000] sm:mt-2 sm:h-11 sm:w-11" name="lucide:x-circle" />
        <span class="text-4xl font-black sm:text-6xl">404</span>
      </div>
      <div class="py-1 sm:py-2"></div>
      <div class="flex flex-col items-center space-y-1 text-center">
        <span class="text-md sm:text-lg">Page Not Found</span>
        <span class="text-md sm:text-lg">Pagina Niet Gevonden</span>
        <span class="text-md sm:text-lg">ページが見つかりませんでした</span>
      </div>
    </main>
  </body>
</html>
