---
import { Icon } from 'astro-icon/components'

import { getProjects } from '@/utils/project'

import i18n from '@/utils/i18n.json'

import Link from '@/components/link.astro'
import Base from '@/components/base.astro'
import Hero from '@/components/hero.astro'
import Footer from '@/components/footer.astro'

import Up from '@/components/up.astro'
import Bar from '@/components/bar.astro'

const LOCALE = 'en'
const projects = await getProjects()
---

<Base locale={LOCALE}>
  <Hero locale={LOCALE} />
  <Up />
  <Bar />

  <section class="mx-auto flex max-w-screen-xl flex-col px-4 pt-32">
    <!-- <h1 class="pb-1 text-4xl font-black sm:text-5xl">Skills</h1> -->
    <h1 class="pb-1 text-4xl font-black sm:text-5xl">{i18n[LOCALE].skills_1}</h1>
    <!-- <p class="text-md sm:text-lg">
      Here are some of the languages and tools that I use to create most of my projects.
    </p> -->
    <p class="text-md sm:text-lg">{i18n[LOCALE].skills_2}</p>
    <div class="flex flex-row items-center gap-x-3">
      <Icon name="teenyicons:typescript-solid" class="h-9 w-9" title="TypeScript" />
      <Icon name="teenyicons:python-solid" class="h-9 w-9" title="Python" />
      <Icon name="simple-icons:go" class="h-14 w-14" title="Go" />
      <Icon name="teenyicons:docker-solid" class="h-9 w-9" title="Docker" />
      <Icon name="teenyicons:tailwind-solid" class="h-9 w-9" title="TailwindCSS" />
    </div>

    <div class="py-4"></div>

    <!-- <h2 class="text-xl font-black sm:text-2xl">Honorable Mentions</h2> -->
    <h2 class="text-xl font-black sm:text-2xl">{i18n[LOCALE].skills_3}</h2>
    <ul class="text-md list-inside list-[square] sm:text-lg">
      <li>Astro</li>
      <li>React</li>
      <li>Svelte</li>
      <li>SQL</li>
      <li>PHP</li>
    </ul>
  </section>

  <section class="mx-auto flex max-w-screen-xl flex-col px-4 pb-48 pt-48">
    <!-- <h1 class="pb-1 text-4xl font-black sm:text-5xl">My Works</h1> -->
    <h1 class="pb-1 text-4xl font-black sm:text-5xl">{i18n[LOCALE].works_1}</h1>
    <!-- <p class="text-md pb-4 sm:text-lg"> -->
    <!-- Here are some things that I have worked on or am currently maintaining. -->
    <!-- </p> -->
    <p class="text-md pb-4 sm:text-lg">{i18n[LOCALE].works_2}</p>

    <div class="flex flex-col space-y-4">
      {
        projects.map((proj) => (
          <article>
            <Link class="group" href={proj.url} redirect>
              <div class="flex flex-row items-center gap-x-2">
                <h1 class="text-xl font-bold group-hover:underline">{proj.name}</h1>
                {proj.type === 2 && <Icon name="jam:github-circle" class="h-7 w-7" />}
                {proj.type === 3 && <Icon name="jam:gitlab-circle" class="h-7 w-7" />}
              </div>
              {proj.description[LOCALE] && <p>{proj.description[LOCALE]}</p>}
            </Link>
          </article>
        ))
      }
    </div>
  </section>

  <Footer />
</Base>
