---
// Site scrolling progress bar
---

<div class="pointer-events-none fixed bottom-0 z-40 flex w-screen justify-start">
  <div data-bar class="h-0.5 bg-light"></div>
</div>

<script>
  const bar = document.querySelector<HTMLDivElement>('[data-bar]')!

  window.onscroll = async () => {
    const { scrollTop, scrollHeight } = document.documentElement
    const scrollPercent = Math.round((scrollTop / (scrollHeight - window.innerHeight)) * 100)

    bar.style.width = `${scrollPercent}%`
  }
</script>
