---
// Base with SEO
import '@fontsource-variable/m-plus-1' // Base Font

import { getImage } from 'astro:assets'

import i18n from '@/utils/i18n.json'

import Banner from '@/assets/SBanner.png'
import Favicon from '@/assets/S.png'

const TITLE = 'Sxnicdesu'
const ORIGIN = 'https://sxnic.vercel.app'

const favicon = await getImage({ src: Favicon, width: 50, format: 'avif' })
const banner = await getImage({ src: Banner, format: 'avif' })

interface Props {
  locale?: keyof typeof i18n
}

const { locale = 'en' } = Astro.props
---

<html lang={locale}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/avif" href={favicon.src} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={i18n[locale].desc} />
    <title>{TITLE}</title>

    <!-- OpenGraph Tags -->
    <meta property="og:title" content={TITLE} />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content={locale} />
    <meta property="og:description" content={i18n[locale].desc} />
    <meta property="og:site_name" content={TITLE} />
    <meta property="og:url" content={ORIGIN} />

    <meta name="og:image" content={`${ORIGIN}${banner.src}`} />

    <!-- Twitter Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content={TITLE} />
    <meta name="twitter:title" content={TITLE} />
    <meta name="twitter:description" content={i18n[locale].desc} />

    <meta name="twitter:image" content={`${ORIGIN}${banner.src}`} />
    <meta name="twitter:image:alt" content={TITLE} />

    <!-- Discord Tags -->
    <meta name="theme-color" content="#000000" />
  </head>
  <body class="scroll-smooth bg-dark text-light">
    <slot />
  </body>
</html>
