---
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'
import { DISCORD, TELEGRAM, EMAIL } from '@/utils/env'

import Logo from '@/assets/Sxncrop.png'
import Link from '@/components/link.astro'

import NotByAiEn from '@/assets/notbyai-en.svg'
import NotByAiJa from '@/assets/notbyai-ja.svg'

interface Props {
  locale?: 'en' | 'ja'
}

const { locale = 'en' } = Astro.props
---

<footer class="mx-auto flex max-w-screen-xl flex-col px-4 py-4">
  <div class="pb-3">
    <Image
      class="pointer-events-none text-transparent xs:hidden"
      height={50}
      src={Logo}
      alt="logo"
      format="avif"
    />
  </div>
  <div class="flex flex-row items-center gap-x-2">
    <Icon name="ic:baseline-discord" class="h-5 w-5" />
    <span class="font-bold">{DISCORD}</span>
  </div>
  <div class="flex flex-row items-center gap-x-2">
    <Icon name="ic:baseline-telegram" class="h-5 w-5" />
    <Link href={`https://t.me/${TELEGRAM}`} class="font-bold" redirect>{TELEGRAM}</Link>
  </div>
  <div class="flex flex-row items-center gap-x-2">
    <Icon name="ic:baseline-email" class="h-5 w-5" />
    <span class="font-bold">{EMAIL}</span>
  </div>
  <div class="py-3">
    <hr class="border-1 m-0 border-light p-0" />
  </div>
  <Link class="max-w-max" href="https://notbyai.fyi/">
    {
      locale === 'en' ? (
        <Image
          class="pointer-events-none text-transparent"
          src={NotByAiEn}
          format="avif"
          alt="notbyai"
        />
      ) : (
        <Image
          class="pointer-events-none text-transparent"
          src={NotByAiJa}
          format="avif"
          alt="notbyai"
        />
      )
    }
  </Link>
</footer>
