---
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'

import { GITHUB_URL, GITLAB_URL } from '@/utils/env'

import i18n from '@/utils/i18n.json'

import Link from '@/components/link.astro'

import Pfp from '@/assets/Sxnpfp.png'
import Logo from '@/assets/Sxncrop.png'

interface Props {
  locale?: keyof typeof i18n
}

const { locale = 'en' } = Astro.props
---

<nav class="mx-auto flex max-w-screen-xl flex-row items-center justify-between px-4 py-4">
  <Image
    class="pointer-events-none hidden text-transparent xs:block"
    height={30}
    src={Logo}
    alt="logo"
    format="avif"
  />
  <div class="flex-1"></div>
  <div class="flex flex-row items-center gap-x-4">
    <div class="flex flex-row items-center gap-x-4 font-semibold">
      <a
        data-astro-prefetch
        class={`hover:text-light/80 ${
          locale === 'en' && 'font-black underline pointer-events-none'
        }`}
        href="/">EN</a
      >
      <a
        data-astro-prefetch
        class={`hover:text-light/80 ${
          locale === 'nl' && 'font-black underline pointer-events-none'
        }`}
        href="/nl">NL</a
      >
      <a
        data-astro-prefetch
        class={`hover:text-light/80 ${
          locale === 'ja' && 'font-black underline pointer-events-none'
        }`}
        href="/ja">JA</a
      >
    </div>
    <div class="flex flex-row items-center gap-x-2">
      <Link class="hover:text-light/80" href={GITHUB_URL} redirect>
        <Icon name="jam:github-circle" class="h-9 w-9" />
      </Link>
      <Link class="hover:text-light/80" href={GITLAB_URL} redirect>
        <Icon name="jam:gitlab-circle" class="h-9 w-9" />
      </Link>
    </div>
  </div>
</nav>

<header
  class="mx-auto flex w-full max-w-screen-xl flex-col items-center justify-between gap-x-4 gap-y-8 px-4 pb-44 pt-16 lg:flex-row lg:pt-44"
>
  <div class="flex flex-col">
    <!-- <h1 class="pb-2 text-4xl font-black sm:text-5xl">Hiya, I'm Sxnic</h1> -->
    <h1 class="pb-2 text-4xl font-black sm:text-5xl">{i18n[locale].hero_1}</h1>
    <!-- <p class="text-md sm:text-lg">
      A Dutch all-round developer with a passion for anything web dev and Linux.
    </p> -->
    <p class="text-md sm:text-lg">
      {i18n[locale].hero_2}
    </p>

    <!-- <p class="text-sm">(well maybe except css)</p> -->
    <p class="text-sm">{i18n[locale].hero_3}</p>

    <!-- <p class="text-md py-3 sm:text-lg">
      I like to explore the world of programming, as well as cooking, play video games, make pixel
      art, and learn foreign languages like German and Japanese.
    </p> -->
    <p class="text-md break-words pt-3 sm:text-lg">
      {i18n[locale].hero_4}
    </p>

    <!-- <p class="pb-3 text-sm">(I also like trains btw)</p> -->
    <p class="pb-3 text-sm">{i18n[locale].hero_5}</p>

    <!-- <div class="flex animate-bounce flex-row items-center gap-x-2 text-lg font-bold">
      <Icon name="lucide:chevron-down" class="h-5 w-5" />
      <span>Scroll down for more!</span>
    </div> -->
    <div class="flex animate-bounce flex-row items-center gap-x-2 text-lg font-bold">
      <Icon name="lucide:chevron-down" class="h-5 w-5" />
      <span>{i18n[locale].hero_6}</span>
    </div>
  </div>
  <div class="shrink-0">
    <Image class="pointer-events-none text-transparent" src={Pfp} alt="pfp" format="avif" />
  </div>
</header>
