---
interface Props {
  href: string
  class?: string
  redirect?: boolean
}

const { href, class: className, redirect = false } = Astro.props
---

<a class={className} href={href} target={redirect ? '_blank' : '_self'} rel="noreferer">
  <slot />
</a>
