---
import { Icon } from 'astro-icon/components'
---

<div class="fixed bottom-5 right-5 z-50 flex justify-end">
  <button data-up class="flex hidden items-center rounded-full bg-light p-1 text-dark">
    <Icon class="h-6 w-6" name="lucide:chevron-up" />
  </button>
</div>

<script>
  const button = document.querySelector<HTMLButtonElement>('[data-up]')!
  const className = 'hidden'

  const io = new IntersectionObserver(
    (entries) =>
      entries.forEach((entry) => {
        entry.isIntersecting ? button.classList.add(className) : button.classList.remove(className)
      }),
    { threshold: 1, rootMargin: '25px' },
  )

  window.onload = () => {
    const elementToObserve = document.querySelector('nav')!
    io.observe(elementToObserve)
  }

  button.onclick = () => {
    window.scrollTo({ top: 0, behavior: 'smooth' })
  }
</script>
